*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
}


.sky{
    height:25vh;
    width:100%;
    background:skyblue;
}


.sun{
   left:-50px;
   top:-20px;
    height:125px;
    width:125px;
    border-radius:50%;
    background:yellow;
    animation:glow 2s infinite;
    transition:1s ease;
}




.sun .sunray1{
    position:absolute;
    --rotate:120;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s .7s infinite;
    transition:1s ease;
}

.sun .sunray2{
    position:absolute;
    --rotate:150;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s .4s infinite;
    transition:1s ease;
}

.sun .sunray3{
    position:absolute;
    --rotate:90;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s 1s infinite;
    transition:1s ease;
}

.sun .sunray4{
    position:absolute;
    --rotate:180;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s .5s infinite;
    transition:1s ease;
}

.sun .sunray5{
    position:absolute;
    --rotate:60;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s .8s infinite;
    transition:1s ease;
}

.sun .sunray6{
    position:absolute;
    --rotate:210;
    transform-origin:bottom;
    transform:rotate(calc(var(--rotate)* 1deg));
    left:50%;
    width:5%;
    height:60%;
    background:yellow;
    animation:glow 2s infinite;
    animation:raygrow 3s .2s infinite;
    transition:1s ease;
}

/* @keyframes glow{
    0%{background:yellow;}
    20%{background:rgb(202, 202, 34)};
    40%{background:rgb(180, 180, 12)};
    50%{background:rgb(214, 214, 39)};
    60%{background:rgb(231, 231, 57)};
    70%{background:rgb(230, 230, 102)};
    100%{background:rgb(230, 230, 13)}
} */

@keyframes raygrow{
    0%{height:60%}
    10%{height:61%}
    20%{height:62%}
    30%{height:63%}
    40%{height:64%}
    50%{height:65%}
    60%{height:64%}
    70%{height:63%}
    80%{height:62%}
    90%{height:61%}
    100%{height:60%}
    
}


.cloudone{
    width:125px;
    height:105px;
    left:15%;
    top:-75px;
    transition:1s ease;
    animation:float 4s infinite;
   
}

.clouda, .cloudb, .cloudc, .cloudd, .cloude{
    position:absolute;
    background:white;
    width:75%;
    height:75%;
    border-radius:50%;
}

.cloudb{
    left:35%;
    top:-15%;
}


.cloudtwo{
    width:125px;
    height:105px;
    left:60%;
    top:-200px;
    transition:1s ease;
    animation:floattwo 4s infinite;
}

.cloudd{
    top:-10%;
    left:20%;
}

.cloude{
    left:50%;
    top:25%;
}


@keyframes float{
    10%{left:14%}
    20%{left:13%}
    30%{left:12%}
    40%{left:11%}
    50%{left:12%}
    60%{left:14%}
    70%{left:16%}
    80%{left:17%}
    90%{left:16%}
    100%{left:15%}
}

@keyframes floattwo{
    10%{left:59%}
    20%{left:58%}
    30%{left:57%}
    40%{left:55%}
    50%{left:56%}
    60%{left:58%}
    70%{left:60%}
    80%{left:61%}
    90%{left:62%}
    100%{left:60%}
}


.banner{
    text-align:center;
    background:skyblue;
  
}

.banner > h1{
    letter-spacing:5px;
    font-size:40px;
  
}


.bikerdiv{
    height:50vh;
    background:skyblue;
}

.ground{
    height:1vh;
    background:brown;
}

.grass{
    height:5vh;
    background:green;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}


.blade{
    top:2px;
    left:5px;
    width:20px;
    height:50px;
    display:flex;
}

.bladea{
    width:3px;
    height:10px;
    background:green;
    transform:rotate(20deg);
    transform-origin:top;
}

.bladeb{
    width:3px;
    height:10px;
    background:green;
    transform:rotate(-20deg);
    transform-origin:top;
    left:-5px;
}

.biker{
    height:75%;
    width:125px;
    /* outline:1px solid black; */
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    top:70px;
    animation:bikeacross 4s infinite
}

.bike{
    width:250px;
    height:35%;
    /* outline:1px solid red; */
    margin:0 auto;
    top:-15%;
    animation:bikeacross 4s infinite
    /* display:flex; */
}


@keyframes bikeacross{
     0%{left:0px}
    10%{left:-100px}
    20%{left:-300px}
    30%{left:-400px}
    40%{left:-500px;opacity:0;}
    50%{left:300px;opacity:0;}
    60%{left:260px;opacity:1}
    70%{left:200px}
    80%{left:150px}
    90%{left:100px}
    100%{left:50px} 
   
}

.bikebottom, .biketop{
    display:flex;
}

.handlebars{
    width:5px;
    height:55px;
    background:pink;
    left:65px;
    transform-origin:bottom;
    transform:rotate(30deg)
}

.bikeseat{
    width:5px;
    height:20px;
    background:black;
    left:125px;
    top:35px;
}

.seat{
    width:30px;
    left:-15px;
    border-radius:35%;
    height:5px;
    background:black;

}


.pieceone, .piecetwo, .piecethree{
    width:125px;
    height:5px;
    background:yellow;
}

.piecetwo{
    background:red;
    transform-origin:top;
    transform:rotate(45deg);
    width:75px;
    top:15px;
}

.piecethree{
    background:purple;
    transform-origin:bottom;
    transform:rotate(-45deg);
    width:75px;
    left:60px;
    top:10px;
}

.pedal{
    width:5px;
    height:20px;
    background:green;
    left:50%;
    top:30%;
    animation:spin 2s infinite;
}

/* @keyframes spinpedal{
    0%{transform:rotate(360deg)}
} */

.pedalrung{
    width:15px;
    height:3px;
    background:black;
    top:20px;
    left:-5px;
}

.tireone{
    width:155px;
    height:85px;
    border:1px solid black;
    border-radius:50%;
    left:35px;
    animation:spin 2s infinite;
}

.tiretwo{
    width:155px;
    height:85px;
    border:1px solid black;
    border-radius:50%;
    left:-35px;
    animation:spin 2s infinite;
}

@keyframes spin{
    100%{transform:rotate(360deg)}
}


.tireone .spoke{
    width:100%;
    height:100%;
    position:absolute;
}

.tiretwo .spoke{
    width:100%;
    height:100%;
    position:absolute;
}

.spokerung{
    width:2px;
    height:45%;
    background:black;
    left:50%;
    top:5%;
    transform-origin:bottom;
    --rotate:0;
    transform:rotate(calc(var(--rotate) * 1deg))
}

.spokerung1{--rotate:30}
.spokerung2{--rotate:60}
.spokerung3{--rotate:90}
.spokerung4{--rotate:120}
.spokerung5{--rotate:150}
.spokerung6{--rotate:180}
.spokerung7{--rotate:210}
.spokerung8{--rotate:240}
.spokerung9{--rotate:270}
.spokerung10{--rotate:300}
.spokerung11{--rotate:330}
.spokerung12{--rotate:360}




.head{
    height:50px;
    width:50px;
    border:1px solid black;
    border-radius:50%;
    background:peachpuff;
}

.eye{
    top:10px;
    left:10px;
    height:4px;
    width:4px;
    background:black;
    border-radius:50%;
}

.mouth{
    width:12px;
    height:2px;
    background:black;
    top:30px;
}

.neck{
    width:8px;
    height:10px;
    outline:1px solid black;
    background:peachpuff;
}

.body{
    width:30px;
    height:65px;
    display:flex;
    background:red;
    align-items:center;
    justify-content: center;
    outline:1px solid black;

}

.arm{
    width:5px;
    height:40px;
    outline:1px solid red;
    background:red;
    transform-origin:top;
    transform:rotate(30deg);
   
}

.hand{
    width:15px;
    height:15px;
    border-radius:50%;
    background:peachpuff;
    top:40px;
   left:-4px;
}

.leg{
    width:5px;
    height:75px;
    background:blue;
    z-index:1;
    outline:1px solid black;
    animation:peddle 2s infinite;
}

@keyframes peddle{
    0%{height:75px;}
    100%{height:45px;}
}





